@import "tailwindcss";


.custom-hover:hover~.custom-cursor {
  transform: scale(2);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee1 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.animate-marquee1 {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  animation: marquee1 20s linear infinite;
}